.profile{
    background-color: #88B9D7;
    height: 200px;
    width: 200px
}

.img{
    height: 200px;
    width: 200px 
}

.small-circle {
    background-color: #88B9D7;
    height: 30px;
    width: 30px;
    margin-top: 170px
}

.name {
    color:#3C5E9B;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.profile-name {
    color: #707070;
    font-weight: 500;
    font-family: sans-serif;
    text-align: center;
    font-size:large;
}

.location {
    font-size: large;
    color: #939393;
    font-weight: 500;
}

.description {
    color: #424242;
}

.social-media {
    height:60px;
    width:60px
}

.box{
    margin-left: 100px;
    margin-right: 100px;
}

#linked-in {
    height: 100px;
    width:100px;
}

button {
    background-image: linear-gradient(to right,  #88B9D7, #3C5E9B);
}

.technology {
    color:#3C5E9B;
    font-weight: bold;
}

.icons {
    height:110px;
    width:110px;
    margin: 10px;
}

.info {
    text-align: center;
    font-weight: bold;
}

.card-over:hover{
    box-shadow: -1px 0px 3em #3C5E9B;
}

.btn-git {
    height:40px;
    width:120px;
    border-radius: 5px;
}

.small-icon {
    height:50px;
    width:50px;
    margin: 5px;
}

/* .static-div {
    height:160px;
    width:160px;
    border:0.6em #3C5E9B inset;
} */

.static-div {
    height:160px;
    width:160px;
    border:solid #3C5E9B;
    border-width: 20px;
}

.text-color{
    color: #3C5E9B;
}

.proficiency {
    height:250px;
    width:300px
}